<%= provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'potepan/products/light_section', product: @product %>
  <!-- MAIN CONTENT SECTION -->
  <%= render 'potepan/products/main_content_section', product: @product %>
</div>
